<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Timber House</title>
    <jcms:site:seotitle/>
     <!-- Fevicon -->
     <jcms:site:fevicon/>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="stylesheet" href="css/new-style.css"/>
    <link rel="shortcut icon" href="img/fav.png" type="image/x-icon">
    <link rel="icon" href="img/fav.png" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body>
<div class="page-wrapper">
    <jcms:module:header/>
    <!--Page Title-->
<jcms:module:gallery-bread/>
    <!--End Page Title-->

    <!-- Contact Section-->
    <!-- Rooms Section -->
    <section class="rooms-section-three">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>Get a Comfortable Room<br> Feel The Comfort.</h2>
            </div>

            <!--Sortable Masonry-->
            <div class="sortable-masonry">
                <!--Filter-->
                <div class="filters">
                    <ul class="filter-tabs filter-btns clearfix">
                        <li class="active filter" data-role="button" data-filter=".all">All</li>
<jcms:module:gallery-nav/>
                    </ul>
                </div>

                <div class="items-container row">
                    <!-- Room Block -->
            <jcms:module:gallery-list/>
                </div>
            </div>
        </div>
    </section>
    <!--End Rooms Section -->
<!-- footer -->
<jcms:module:footer/>
<!-- footer end -->

</div><!-- End Page Wrapper -->

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/isotope.js"></script>
<script src="js/script.js"></script>
</body>
</html>