<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <jcms:site:seotitle/>
     <!-- Fevicon -->
     <jcms:site:fevicon/>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="stylesheet" href="css/new-style.css"/>
    <link rel="shortcut icon" href="img/fav.png" type="image/x-icon">
    <link rel="icon" href="img/fav.png" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
<div class="page-wrapper">



    <!-- Main Header-->
    <header class="main-header">

        <!--Main Box-->
        <div class="auto-container">
            <div class="main-box">
                <div class="logo-outer">
                    <div class="logo logo_timber"><a href="/"><img src="img/logo.png" alt="" title=""></a></div>
                </div>

                <!--Nav Box-->
                <div class="nav-outer">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler"><span class="icon fa fa-bars"></span></div>

                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li class="dropdown"><a href="index.html">Home</a>
                                </li>
                                <li><a href="about.html">About</a></li>
                                <li class="dropdown"><a href="javascript:void(0);">Room</a>
                                    <ul>
                                        <li><a href="deluxe.html">Deluxe Room</a></li>
                                        <li><a href="">Superior Room</a></li>
                                        <li><a href="view-rooms.html">View all Rooms</a></li>
                                    </ul>
                                </li>
                                <li><a href="restaurant.html">Restaurant</a> </li>
<li><a href="services.html">Services</a> </li>
                                <li><a href="gallery.html">Gallery</a> </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->

                    <div class="outer-box d-lg-none">
                        <!-- Booking Btn -->
                        <div class="booking-btn">
                            <a href="room-detail.html" class="theme-btn btn-style-two">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Lower-->

        <!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container">
                <div class="inner-container">
                    <!--Logo-->
                    <div class="logo logo_timber">
                        <a href="/" title=""><img src="img/logo.png" alt="" title=""></a>
                    </div>

                    <!--Right Col-->
                    <div class="nav-outer">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-collapse show collapse clearfix">
                                 <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
                            </div>
                        </nav><!-- Main Menu End-->
                    </div>
                </div>
            </div>
        </div><!-- End Sticky Menu -->


        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon fa fa-times"></span></div>

            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            <nav class="menu-box">
                <div class="nav-logo"><a href="/"><img src="img/logo.png" alt="" title=""></a></div>
                <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
            </nav>
        </div><!-- End Mobile Menu -->

    </header>
    <!--End Main Header -->

    <!--Page Title-->
<jcms:module:inner-about-bread/>
    <!--End Page Title-->

    <!-- About Section -->
    <section class="about-section-two">
        <div class="auto-container">
            <jcms:module:inner-about-detail/>
        </div>
    </section>
    <!-- End About Section -->
    <!-- Main Footer -->
    <jcms:module:footer/>
    <!--End Main Footer -->

</div><!-- End Page Wrapper -->

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/wow.js"></script>
<script src="js/appear.js"></script>
<script src="js/owl.js"></script>
<script src="js/isotope.js"></script>
<script src="js/script.js"></script>
</body>

<!-- Mirrored from html.yogsthemes.com/demo/akomo/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 Nov 2024 06:21:20 GMT -->
</html>